/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALI */

.aqua-text {
    color: aqua;
}

.highlighted-text {
    background-color: yellow;
}

/* HEADER */

#logo {
    height:60px;
}

#main-header {
    background-image: url('../img/pattern.png');
    background-color: aqua;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* MAIN */

main {
    padding-left: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-left: 15px;
}

/* MAIN - HEADER */

#titolo {
    font-size: 60px;
}

#autore {
    color: grey;
}

/* TABELLA */

table{
    width: 100%;
    border-collapse: collapse;
}

thead {
    color:white;
    background-color:rgb(4, 147, 236);
    text-align: left;
}

.aqua-background {
    background-color: aqua;
}

.column25 {
    width: 25%;
}

.column50 {
    width: 50%;
}